@import "tailwindcss";

@font-face {
	font-family: "Fira Code";
	src: url("./fonts/FiraCode-VariableFont_wght.woff2") format("woff2");
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Chakra Petch";
	src: url("./fonts/ChakraPetch-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Chakra Petch";
	src: url("./fonts/ChakraPetch-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@theme {
	--animate-blink: blink 1.5s step-end infinite;
	--default-transition-timing-function: ease-out;
	--color-base: #080809;
	--color-primary: #b56931;
	--color-accent: #5a86e0;
	--color-content: #dff2fe;
	--color-neutral: #1e1f20;
	--color-success: #68db62;
	--color-warning: #dcb340;
	--color-error: #f34949;

	--font-fira: "Fira Code", monospace;
	--font-chakra: "Chakra Petch", sans-serif;

	--breakpoint-xs: 30rem;
}

:root {
	--page-container-margin-size: 32px;
	--sidenav-top: calc(var(--nav-height) + var(--page-container-margin-size));
	--sidenav-height: calc(100vh - var(--nav-height) - 2 * var(--page-container-margin-size));
}

@media (width < theme(--breakpoint-sm)) {
	:root {
		--page-container-margin-size: 24px;
	}
}

@layer base {
	* {
		box-sizing: border-box;
		scrollbar-width: thin;
		scrollbar-color: color-mix(in srgb, var(--color-content) 25%, transparent) transparent;
	}

	html {
		color: var(--color-content);
	}

	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: color-mix(in srgb, var(--color-content) 25%, transparent);
		border-radius: 9999px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--color-primary);
	}

	body {
		font-family: "Fira Code", monospace;
		font-size: 16px;
	}

	h1 {
		font-family: "Chakra Petch", sans-serif;
	}

	button:hover {
		cursor: pointer;
	}

	input:focus,
	textarea:focus,
	select:focus {
		outline: none;
		border-color: transparent;
	}

	.diagonal-stripe-pattern {
		background: repeating-linear-gradient(
			60deg,
			var(--color-primary) 0px,
			var(--color-primary) 1px,
			transparent 2px,
			transparent 8px
		);
	}

	.loading-bar-pattern {
		background: repeating-linear-gradient(
			60deg,
			var(--color-primary) 0px,
			var(--color-primary) 10px,
			transparent 10px,
			transparent 20px
		);
		background-size: 24px 100%;
		background-repeat: repeat;
		animation: loading-bar-movement 0.5s linear infinite;
	}

	@keyframes loading-bar-movement {
		0% {
			background-position-x: 0;
		}
		100% {
			background-position-x: 24px;
		}
	}

	@keyframes blink {
		0%,
		60% {
			opacity: 1;
		}
		61%,
		100% {
			opacity: 0;
		}
	}
}
